*{
    background: rgb(75,121,9);
    background: linear-gradient(90deg, rgba(75,121,9,1) 35%, rgba(64,101,10,1) 47%, rgba(14,15,14,1) 100%);
}
.body{
    background-color:rgb(75,121,9) ;
}

.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-item{
    display: flex;
    flex-direction: column;
    background-color: rgb(75,121,9);
    justify-content: space-between;

}
.nav-item a{
    text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
.nav-item a:hover{
    background-color: lightblue;
}